# Django
SECRET_KEY='Секретный ключ Django'
DEBUG='Включение режима отладки: True или False'
ALLOWED_HOSTS='Разрешённые домены и IP-адреса через запятую'
CSRF_TRUSTED_ORIGINS='Доверенные источники для CSRF с протоколом и портом через запятую'

# PostgreSQL
POSTGRES_DB_HOST='Адрес сервера PostgreSQL'
POSTGRES_DB_PORT='Порт сервера PostgreSQL'
POSTGRES_DB='Название базы данных PostgreSQL'
POSTGRES_DB_USER='Имя пользователя PostgreSQL'
POSTGRES_DB_PASSWORD='Пароль пользователя PostgreSQL'

# Redis
REDIS_URL='URL подключения к Redis с номером базы данных'

# Taskiq
TASKIQ_QUEUE_NAME='Название очереди задач Taskiq'
TASKIQ_HEALTHCHECK_CRON='Расписание диагностической задачи в формате cron; пустое значение отключает диагностику'
